* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #F2F4FC;
    margin-left: 125px;
    margin-right: 125px;
}
.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.contact-container {
    display: flex;
    align-items: center;
}
.contact {
    background-color: #072AC8;
    border: none;
    color: #F2F4FC;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
.simplify h1 {
    font-size: 75px;
    color: #292E47;
    margin: 0;
}
li {
    color: #6B708D;
    font-size: 20px;
    list-style: none;
}
a {
    text-decoration: none;
}
.list-nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.list-nav li {
    margin: 50px;
}
/*simplify*/
.simplify img {
    width: 100%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.simplify div {
    display: flex;
    justify-content: space-between;
    color:#6B708D;
}
.simplify p {
    display: flex;
    align-items: end;
}
.text-ipsum {
    color: #6B708D;
    text-shadow: 2px 2px 5px #6B708D;
    padding-top: 35px;
    line-height: 25px;
}
/*other projects*/
.blocks-projects {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 5%;
}
.blocks-1{
    padding: 2%;
}
.other {
    padding-top: 50px;
    font-size: 40px;
    color: #292E47;
}
.other-projects {
    padding: 5% 10% 5% 10%;
}
.other-projects img {
    width: 100%;
}
.learn-more {
    text-decoration: none;
    background-color: white;
}
.other-projects h5 {
    font-size: 30px;
    color:#292E47;
    background-color: #fff;
}
.other-projects p {
    font-size: 20px;
    color:#6B708D;
    background-color: #fff;
}
.projects-1 {
    background-color: white;
}
/*questions*/
.questions {
    background-color: #FFC600;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px 100px 25px;
}
.questions h1 {
    background-color: #FFC600;
    font-size: 40px;
    color:#292E47;
    font-weight: bold;
}
.questions input {
    background-image: url(/newsletter-20230228T193812Z-001/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    padding: 20px 50px 20px 40px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #FFF;
    height: 75%;
    width: 75%;
    border: none;
    margin-right: 15px;
    background-position: 2%;
}
.questions form {
    background-color: #FFC600;
}
.questions p {
    background-color: #FFC600;
    font-size: 25px;
    color: #292E47;
}
form {
    display:flex;
}
/*address*/
footer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.footer-right ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-right li {
    margin: 25px;
}
.footer-left img {
    width: 30%;
}
.footer-left address {
    margin: 25px 0px;
}