* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #F2F4FC;
    margin-left: 10px;
    margin-right: 10px;
}
/*nav-bar*/
.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.contact-container {
    display: flex;
    align-items: center;
}
.contact {
    background-color: #072AC8;
    border: none;
    color: #F2F4FC;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
h1 {
    font-size: 25px;
    color: #292E47;
}
li {
    color: #6B708D;
    font-size: 20px;
    list-style: none;
}
a {
    text-decoration: none;
}
.list-nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.list-nav li {
    margin: 50px;
}
/*address*/
footer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.footer-right ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-right li {
    margin: 25px;
}
.footer-left img {
    width: 30%;
}
.footer-left address {
    margin: 25px 0px;
}
/*contact form*/
h5 {
    font-size: 75px;
    color: #292E47;
    margin: 5%;
    padding: 5% 0%;
}
.container form {
    width: 100%;
    padding: 0% 5%;
}
input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 1%;
    margin: 2% 0%;
}
textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding:1%;
    margin: 2% 0%;
}
.container {
    color:#6B708D
}
.contact {
    width: 100%;
    background-color: #072AC8;
    border: none;
    color: #F2F4FC;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
